export const BROKER = 'test.mosquitto.org';
export const INFLUX_HOST = 'EXAMPLE';
export const INFLUX_USER = 'EXAMPLE';
export const INFLUX_PORT = '8086';
export const INFLUX_PASSWORD = 'EXAMPLE';
export const TASMOTA_DB ='tasmota'